{% extends "base.html" %}
{% load static %}
{% block content1 %}


<div class="container my-5">
  <h2 class="text-center mb-4 glitter-heading">My Certificates</h2>

  <div class="row justify-content-center">
    <div class="col-md-4 mb-4 d-flex justify-content-center">
      <img src="{% static 'images/certificate1.png' %}" class="img-fluid rounded shadow" alt="Certificate 1" style="height: 300px;">
    </div>
    <div class="col-md-4 mb-4 d-flex justify-content-center">
      <img src="{% static 'images/certificate 2.png' %}" class="img-fluid rounded shadow" alt="Certificate 2" style="height: 300px;">
    </div>
    
  </div>
</div>









{% endblock content1 %}