{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-5">
    <div class="col-12 d-flex justify-content-center align-items-center">
    <div class="circular-image-container">
        <img class="circular-image" src="https://static.vecteezy.com/system/resources/previews/038/974/578/non_2x/ai-generated-professional-portrait-of-a-competent-woman-free-photo.jpg" alt="image"> <!--your pic -->
    </div>
</div>
<div class="col-12 text-center mt-3">
    <h4 class="title"> Hi,my name is</h4>
    <div class="name">
    <h1>Archie Arora</h1>
    <h1>I am Python Developer</h1>       
</div>
</div>
<div class="col-12 text-center mt-3">   
    <div class="col-12 d-flex justify-content-center align-items-center">

      
    <a href="/" target="_blank"  class="ms-3">   <!--linkedin ka link -->
        <img src="https://logospng.org/download/linkedin/logo-linkedin-icon-1536.png" width="50" height="50" class="social_links">
    </a>
     <a href="/" target="_blank"  class="ms-3">   <!--github ka link-->
        <img src="https://tse2.mm.bing.net/th?id=OIP.LZZpmNm22Z66ttIBhUOv5QHaHa&pid=Api&P=0&h=180" width="50" height="50" class="social_links">
    </a>
  </div>  
</div>
</div>

{% endblock content1 %}